<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Donton.UserInterface</title>
    @Html.Partial("_LoginHeader")
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3" style="height: 100vh;">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_LoginScript")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>