@page
@model IndexModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Donton";
}

<div class="h-100 w-100 d-flex align-items-center justify-content-center bg-image" style="background-image: url('assets/login/login_bg.jpg'); background-repeat: no-repeat; background-size: cover; object-fit: cover;">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>Login</h2>
    </div>
</div>

